@import '@/styles/variables';

.errorboundarypage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $color-neutral-300;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
  border-radius: $radius-small;
  border: 1px solid $color-white;
}

.title {
  font-size: 30px;
  font-family: $font-family;
  color: $color-white;
}

.description {
  font-size: 18px;
  color: $color-white;
}
