@import '@/styles/mixins';
@import '@/styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 24px 48px;
  background: linear-gradient(90deg, $color-primary-100 0%, $color-primary-200 100%);
  width: 100%;
  border-bottom-left-radius: $radius-app;
  border-bottom-right-radius: $radius-app;
  @include media-620 {
    padding: 24px;
  }
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  @include media-800 {
    flex-direction: column;
  }
}

.welcome_box {
  max-width: 248px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  @include media-800 {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  }
}

.welcome_desc {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-white;
}

.links_box {
  max-width: 792px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  @include media-800 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.link_box {
  max-width: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.link_title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: $color-white;
}

.underlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-family: $font-family;
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: $color-white;
}

.info_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  @include media-620 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.info_rights {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-white;
}

.social_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 180px;
  width: 100%;
}

.social_desc {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-white;
}

.social_link {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  max-width: 24px;
  width: 100%;
  &:hover {
    transform: scale(1.2);
  }
}

.img {
  width: 100%;
}
