.spinner {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.large {
  width: 214px;
  height: 240px;
}

.small {
  width: 89px;
  height: 100px;
}
