.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.image {
  position: absolute;
  left: 12px;
  max-width: 24px;
  width: 100%;
  pointer-events: none;
}

.image_close {
  position: absolute;
  right: 12px;
  max-width: 24px;
  width: 100%;
  cursor: pointer;
}

.input {
  border: 0.5px solid var(--color-neutral-300);
  background-color: transparent;
  border-radius: var(--radius-large);
  padding: 12px 12px 12px 48px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-100);
  &::placeholder {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-400);
  }
  &:focus {
    outline: none;
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
