.player {
  width: 100%;
  border-radius: 200px;
  overflow: hidden;

  :global {
    position: relative;
    .rhap_container {
      padding: 0 16px;
      border-radius: 200px;
      width: 100%;
    }

    .rhap_controls-section {
      flex: 0;
      .rhap_volume-controls {
        position: absolute;
        right: 6px;
      }
      .rhap_main-controls {
        .rhap_button-clear {
          max-width: 22px;
          width: 100%;
        }
      }
    }

    .rhap_progress-section {
      flex: 1;
      min-width: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      .rhap_progress-container {
        max-width: 310px;
        .rhap_progress-bar {
          .rhap_progress-indicator {
            display: none;
          }
        }
      }
    }

    .rhap_progress-container {
      flex: 1;
      min-width: 0;
      order: 1;
    }

    .rhap_time {
      order: 0;
    }

    .rhap_volume-controls {
      .rhap_volume-container {
        .rhap_volume-bar-area {
          display: none;
        }
      }
    }
  }
}

.player_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player_pause {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}
