@import '@/styles/mixins';
@import '@/styles/variables';

.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 285px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  border-top-left-radius: $radius-app;
  border-top-right-radius: $radius-app;
  @include media-1210 {
    flex-direction: column;
    min-height: auto;
  }
}

.global {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pages {
  padding: 35px 22px;
  flex: 1;
  position: relative;
  @include media-1210 {
    padding: 24px 16px;
  }
}
