html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #1c1c1c;
  --color-white: #ffffff;
  --color-error: #db0000;

  --color-neutral-100: #2c3144;
  --color-neutral-200: #393939;
  --color-neutral-300: #6e6e6e;
  --color-neutral-400: #898989;
  --color-neutral-500: #dbdbdb;
  --color-neutral-600: #f0f1f1;
  --color-primary-100: #f17900;
  --color-primary-200: #ffb366;
  --color-primary-300: #fec387;
  --color-primary-400: #fbd7b2;

  --font-family: 'Inter', sans-serif;
  --second-family: 'SF Pro', sans-serif;
  --third-family: 'Alumni Sans SC', sans-serif;
  --font3: 'Lexend Deca', sans-serif;

  --radius-app: 24px;
  --radius-nav: 8px;
}

.active {
  background: linear-gradient(90deg, var(--color-primary-100) 0%, var(--color-primary-200) 100%);
  color: var(--color-white) !important;
}
