@import '@/styles/mixins';
@import '@/styles/variables';

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.player_box {
  width: 100%;
  position: relative;
  border-radius: $radius-large;
  min-height: 213px;
  background-color: $color-primary-100;
  background-image: url('@/assets/images/player-example-l.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sort_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 224px;
  width: 100%;
  position: absolute;
  z-index: 3;
  right: 24px;
  top: 24px;
}

.sort_title {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-neutral-200;
}

.select_player_box {
  display: flex;
  flex-direction: column;
  max-width: 545px;
  width: 100%;
  padding-right: 50px;
  gap: 8px;
  position: absolute;
  left: 24px;
  bottom: 24px;
  z-index: 3;
}

.select_player_description {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  color: $color-black;
}

.results_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.results_title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  color: $color-black;
}

.results_container {
  max-width: 844px;
  width: 100%;
  gap: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include media-930 {
    max-width: 420px;
  }
}

.results_cards {
  width: 100%;
  min-height: 390px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.results_card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: clamp(167px, 25vw, 193px);
  width: 100%;
  border: 1px solid $color-neutral-500;
  border-radius: $radius-medium;
  transition: 0.3s ease-in-out;
  &:hover {
    border: 1px solid $color-primary-100;
  }
}

.card_img_box {
  border-radius: $radius-large;
  max-width: clamp(143px, 20vw, 170px);
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  height: 90px;
  margin: 0 auto;
}

.card_img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: $radius-large;
}

.play_payse_icon {
  border-radius: 100px;
  padding: 10px;
  max-width: 36px;
  width: 100%;
  background: rgba(18, 18, 18, 0.5);
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background: $color-primary-100;
  }
}

.cards_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.cards_title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $color-neutral-100;
}

.cards_author {
  font-family: $font-family;
  font-weight: 300;
  font-size: 14px;
  line-height: 171%;
  color: $color-neutral-400;
}

.cards_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  width: 100%;
  margin-left: auto;
  @include media-930 {
    margin: 0 auto;
  }
}

.recommended_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.recommended_box_img {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.recommended_title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  color: $color-black;
}

.recommended_cards_wrapper {
  overflow: hidden;
}

.recommended_cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.recommended_card {
  max-height: 315px;
  max-width: 204px;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid $color-neutral-500;
  border-radius: $radius-medium;
  transition: 0.3s ease-in-out;
  &:hover {
    border: 1px solid $color-primary-100;
  }
}

.recommended_img {
  width: 100%;
  display: block;
  border-radius: $radius-large;
  @include media-1200 {
    width: 180px;
  }
}

.recommended_card_info {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  width: 100%;
  position: relative;
}

.recommended_card_title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $color-neutral-100;
}

.recommended_card_author {
  font-family: $font-family;
  font-weight: 300;
  font-size: 14px;
  line-height: 171%;
  color: $color-neutral-300;
}
